
body { padding: 50px; background-color: white; }

a {
  text-decoration: none; color: rgb(20, 22, 245);
  -webkit-transition: all 250ms; -moz-transition: all 250ms; transition: all 250ms;
}
a:hover, a:focus { text-decoration: underline; }

.box {
  position: relative;
  margin-bottom: 30px; padding: 15px; max-width: 555px;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  font-family: 'Times New Roman', serif; font-size: 18px; line-height: 24px;
  -webkit-transition: all 250ms; -moz-transition: all 250ms; transition: all 250ms;
}
.box-title { display: block; font-size: 44px; line-height: 44px; font-style: italic; margin: 10px 0px 20px 0px; }
a.box-title:hover { text-decoration: none; color: black !important; text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.7) !important; }

/* HOME PAGE */
/* future nice colors: #f24486 */

.content-list a { display: block; margin-bottom: 10px; font-size: 20px; }

#shane .box-title { font-size: 72px; line-height: 72px; font-weight: bold; color: #212020; }

#new-video-work { border-right: 3px dashed rgb(0, 0, 255); }
#new-video-work .box-title { text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.7); }

#woody { border-right: 3px solid rgb(255, 0, 0); }
#woody-link { color: rgb(245, 20, 20); text-shadow: 2px 3px 10px rgba(245, 20, 20, 0.7); }

#at-sea { border-right: 3px solid #aaa; }
#at-sea-link { color: rgb(20, 22, 245); text-shadow: 2px 3px 10px rgba(20, 22, 245, 0.7); }

#dog-shadow { border-right: 3px solid rgb(201, 148, 28); }
#dog-shadow-link { color: rgb(255, 222, 0); text-shadow: 2px 3px 10px rgba(255, 222, 0, 0.7); }

#second-shane { border-right: 3px solid #ff8aad; }
#second-shane-link { color: rgb(20, 245, 30); text-shadow: 2px 3px 10px rgba(20, 245, 30, 0.7); }

#tweet-heaven { border-right: 3px solid #35e9d7; }
#heaven-link { color: rgb(128, 40, 242); text-shadow: 2px 3px 10px rgba(128, 40, 242, 0.7); }
#heaven-description { font-size: 20px; color: rgba(0, 0, 0, 0.9); margin: 25px 0px 15px 0px; }
#heaven-description:hover { -webkit-transform: rotate(20deg); transform: rotate(20deg); }

#content-volume-one { border-right: 3px solid yellow; }
#content-volume-one-archive-link { margin-top: 15px; }
#content-volume-one .box-title { text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.7); }

#thought-blog { border-right: 3px solid rgb(70, 70, 70); }
#thought-blog-link { color: rgb(8, 166, 255); text-shadow: 2px 3px 10px rgba(8, 166, 255, 0.7); }

#recommends-title { font-size: 24px; line-height: 24px; }

@media only screen and (max-width: 650px) {
  .box-title { font-size: 32px; line-height: 32px; }

  #shane .box-title { font-size: 40px; line-height: 40px; }
}

/* BLOG */

.blog-title { display: block; font-size: 44px; line-height: 44px; margin: 20px 0px 20px 0px; }
.blog-date { position: absolute; right: 10px; bottom: 10px; color: rgba(0, 0, 0, 0.75);
    font-size: 20px; }
.blog-body { line-height: 28px; }
#thought-blog-list a { display: block; margin-bottom: 12px; font-size: 28px; line-height: 40px; }
